<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Scheduler Squirrel</title>
</head>
<body>
<p>Dear <span th:text="${addresseName}"></span></p>
<p>
    Your appointment has been confirmed with <span th:text="${senderName}"></span> on <span th:text="${appointmentDateTime}"></span>
</p>

<p>You can join appointment by clicking on following link at <span th:text="${appointmentDateTime}"></span>.
    <span th:text="${senderName}"></span>  would also be joining for consultation at same time. </p>

<a th:href="${linkToBeShown}">click here to join appointment</a>

<p>Regards,</p>
<p>Squirrel Team</p>
<p>CONFIDENTIALITY NOTICE AND DISCLAIMER
    This email including any attachment/s, is confidential and intended solely for the use of the individual or entity to whom it is addressed. Accordingly, if you have received this in error, please notify us immediately and delete (including any attachment/s) from your computer system. If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution and/or misuse is strictly prohibited and unlawful.  Squirrel do not assure the security of information electronically transmitted and your communication with us through such means signifies your acceptance of any risk attaching thereto.
</p>
</body>
</html>
