<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title><span th:text="${subject}"></span></title>
</head>
<body>
<p> Hi <span th:text="${addresseName}"></span>,</p>

<p>You got new message from <span th:text="${senderName}"></span>
<p><span th:text="${message}"></span>

<p>Regards,</p>
<p>Squirrel Team</p>
<p>This is digitally generated and signed</p>
<p>CONFIDENTIALITY NOTICE AND DISCLAIMER
    This email including any attachment/s, is confidential and intended solely for the use of the individual or entity to whom it is addressed. Accordingly, if you have received this in error, please notify us immediately and delete (including any attachment/s) from your computer system. If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution and/or misuse is strictly prohibited and unlawful.  Squirrel do not assure the security of information electronically transmitted and your communication with us through such means signifies your acceptance of any risk attaching thereto.
</p>
</body>
</html>
